<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="OTBL_SQL.Properties.Settings.OmniCenterCPC01ConnectionString"
            connectionString="Data Source=192.168.1.30;Initial Catalog=OmniCenterCPC01;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>